body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px ;
    background-color: black;
    color: white;

}
.navbar .loop{
    font-size: 12px;
    font-weight: bold;
}
.navbar .nav-links{
    list-style: none;
    display: flex;
    margin: 2px;
    padding: 0;


}
.navbar .nav-links li{
    margin-left: 20px;
}
.navbar.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:url("./images/image6.jpg")no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    object-fit: contain;
}
.hero h1{
    font-family: 10px;
    margin-bottom: 10px;

}
.hero.p{
    font-size: 20px;
    margin-bottom: 20px;
}
.hero.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color:#ff6600;
    color: white;
    text-decoration:  none;
    font-size: 18px;
    border-radius: 5px;
}
@media(max-width:760px){
    .hero
    {
        background-size: cover;
        background-position: center;
    }
    .hero h1{
       font-size: 20px;

    }
}
@media(max-width:480px){
    .hero
    {
        background-size: cover;
        background-position: center;
    }
    .hero h1{
       font-size: 20px;
       
    }
}