body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column ;
}
.navbar{
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-size: bold;
}