#products{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#products li{
    width: 200px;
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}